## ## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data = [4,8,15,16,23,42]

In [4]:
data_series = pd.Series(data)

In [6]:
print(data_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [8]:
list_1 = [1,2,3,4,5,6,7,8,9,10]

In [9]:
list_series = pd.Series(list_1)

In [10]:
print(list_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:
## Name     Age        Gender
## Alice        25           Female
## Bob          30           Male
## Claire        27          Female

## Then,print the DataFrame.

In [11]:
data = {'Name':['Alice','Bob','Claire'], 
        'age':[255, 30, 27], 
        'Gender':['Female','Male','Female']}

In [12]:
val = pd.DataFrame(data)

In [13]:
print(val)

     Name  age  Gender
0   Alice  255  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

### DateFrame
#### A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).
#### It can be thought of as a collection of Pandas Series where each Series represents a column.
#### DataFrame is suitable for handling more complex, structured data, and it can store data of different data types.
#### It provides methods for various operations on the entire dataset or specific columns.

### Series:
#### A Series is a one-dimensional labeled array capable of holding any data type.
#### It represents a single column or row of data in a DataFrame.
#### Series is useful for handling simpler, one-dimensional data structures.
#### It is essentially a single column or row with an index.

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [14]:
## Some Common Functions I Can use to manipulate data in Pandas
## (1) Dataframe.columns - To show the all columns in data
## (2)dataframe.head() - To Show the 5 starting records on the data.
## (3)Dataframe.tail()- To show the 5 ending records on the data.
## (4) Dataframe.head(n) - To Show the n number of starting records on the data.
## (5) Dataframe.tail(n) - To show the n number of ending records on the data.
## (6) Dataframe.dtype - To show the data types of the columns
## (7) dataframe["Columns name"]- To show the complete columns data.

In [18]:
m= pd.read_csv("C:/Users/venki/Downloads/services.csv")

In [19]:
m.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [20]:
m.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [21]:
m.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [22]:
m[['program_id', 'accepted_payments',]]

    program_id         accepted_payments
0          NaN                       NaN
1          NaN                       NaN
2          NaN                       NaN
3          NaN                       NaN
4          NaN                       NaN
5          NaN                       NaN
6          NaN                       NaN
7          NaN                       NaN
8          NaN                       NaN
9          NaN                       NaN
10         NaN                       NaN
11         NaN                       NaN
12         NaN                       NaN
13         NaN                       NaN
14         NaN                       NaN
15         NaN                       NaN
16         NaN                       NaN
17         NaN                       NaN
18         NaN                       NaN
19         NaN                       NaN
20         NaN                       NaN
21         NaN  Cash, Check, Credit Card
22         NaN                       NaN

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [23]:
## Nature Series and DataFrame is mutable but panel is immutable.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [24]:
import pandas as pd

In [25]:
# Creating multiple Series
names_series = pd.Series(['Akshata', 'Bharat', 'chandini'], name='Name')
ages_series = pd.Series([25, 30, 27], name='Age')
genders_series = pd.Series(['Female', 'Male', 'Female'], name='Gender')

In [26]:
# Creating a DataFrame using the Series
df = pd.DataFrame({
    'Name': names_series,
    'Age': ages_series,
    'Gender': genders_series
})

In [27]:
# Print the DataFrame
print(df)

       Name  Age  Gender
0   Akshata   25  Female
1    Bharat   30    Male
2  chandini   27  Female